<script setup>
import InputSection from "@/views/InputSection.vue";
import Tag from "@/components/base/Tag.vue";

</script>

<template>
  <main dir="rtl" class="px-4 py-4" >
    <div class="grid grid-cols-2 gap-4">



        <template v-for="(item , indx) in getFormData" :key="indx">
            <component class="col-span-2" :is="InputSection"  :item="item" ></component>
        </template>
        <div class="col-span-2  my-4 " v-if="hasFilter">


            <div class="text-lg mb-4 ">
             فیلتر های اعمال شده:
            </div>
            <div class="my-2 w-full h-[1px] bg-gray-900"></div>
            <div class="flex flex-wrap items-center gap-4 mt-4 ">
                <template v-for="(filter, i) in filterData" :key="i">
                    <component v-if="filter.value?.length > 0 || filter.value === true" :is="Tag" @click-handler="removeItem(filter)">
                        <template #label>
                            {{filter.label}}
                          {{ typeof filter.value === 'boolean' ? '' : ':' }}
                          {{ typeof filter.value === 'string'  ? filter.value : typeof filter.value === 'boolean' ?  filter.value && '' : filter.value.join('-')}}
                        </template>
                    </component>
                </template>
            </div>

            <div class="mt-4">
                <button class="h-10 bg-red-500 rounded px-4 text-white flex items-center cursor-pointer" @click="removeAllFilter">
                    <span class="pl-4">
                         حدف همه
                    </span>
                    <span>
                     <svg class="fill-white  "
                          width="24" height="24"
                          viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                  <path stroke="white"  d="M810.005333 274.005333l-237.994667 237.994667 237.994667 237.994667-60.010667 60.010667-237.994667-237.994667-237.994667 237.994667-60.010667-60.010667 237.994667-237.994667-237.994667-237.994667 60.010667-60.010667 237.994667 237.994667 237.994667-237.994667z"/>
                              </svg>
                    </span>
                </button>
            </div>

        </div>


    </div>

  </main>
</template>
<script >

import {useFormStore} from "@/stores/form";
import {mapState ,mapActions} from 'pinia'


export default {
      name:'HomeView',
      data(){
          return{
              form:[
                  {
                      type:'text',
                      name: 'product_name' ,
                      label: 'نام محصول',
                      children: null,
                      parent: null,
                      options: '',
                      value:''
                  },
                  {
                      type:'checkbox-group',
                      name: 'seller_type' ,
                      label: 'نوع فروشنده',
                      children: null,
                      parent: null,
                      value:[],
                      options: [
                          {
                              title:'فروشنده رسمی',
                              value:'101',
                          },{
                              title:'فروشنده برگزیده',
                              value:'102',
                          },{
                              title:'دیجی کالا',
                              value:'103',
                          },{
                              title:'کسب و کار بومی',
                              value:'104',
                          },{
                              title:'کسب و کار بومی2',
                              value:'105',
                          },{
                              title:'کسب و کار بومی1',
                              value:'106',
                          },
                      ],
                  },
                  {
                      type:'checkbox',
                      name: 'exist_product' ,
                      label: 'فقط کالای موجود',
                      children: ['warehouse'],
                      parent: null,
                      options: '',
                      value:''
                  },
                  {
                  type:'dropdown',
                  name: 'warehouse' ,
                  label: 'انبار',
                  children: null,
                  parent: 'exist_product',
                  value:[],
                  options: [
                    {
                      title:'دیجی کالا',
                      value:'3001',
                    },{
                      title:'سایر',
                      value:'3002',
                    }
                  ],
                },
                  {
                      type:'dropdown',
                      name: 'categories' ,
                      label: 'دسته بندی',
                      children: ['brand-67' , 'brand-69' , "brand-71" , 'brand-73' , 'price-69','price-67','price-71','price-73'],
                      parent: null,
                      value:[],
                      options: [
                          {
                              title:'کالای دیجیتال',
                              value:'67',
                          },{
                              title:'کتاب و لوازم تحریر',
                              value:'69',
                          },{
                              title:'خانه وآشپزخانه',
                              value:'71',
                          },{
                              title:'زیبا و سلامت',
                              value:'73',
                          }
                      ],
                  },
                  {
                      type:'checkbox-group',
                      name: 'brand-67' ,
                      label: 'برند',
                      title: 'brand',
                      children: null,
                      parent: 'categories',
                      value:[],

                      options: [
                          {
                              title:'برند 1',
                              value:'23',
                          },{
                              title:'برند 2',
                              value:'24',
                          },{
                              title:'برند 3',
                              value:'25',
                          },{
                              title:'برند 4',
                              value:'26',
                          },
                      ],
                  },
                  {
                    type:'checkbox-group',
                    name: 'brand-69' ,
                    title: 'brand',
                    label: 'برند 1003',
                    children: [],
                    parent: 'categories',
                    value:[],
                    options: [
                      {
                        title:'برند 1',
                        value:'10',
                      },{
                        title:'برند 2',
                        value:'11',
                      }
                    ],
                  },
                  {
                    type:'checkbox-group',
                    name: 'brand-71' ,
                    title: 'brand',
                    label: 'برند',
                    children: null,
                    parent: 'categories',
                    value:[],
                    options: [
                      {
                        title:'برند 1',
                        value:'14',
                      },{
                        title:'برند 2',
                        value:'15',
                      },{
                        title:'برند 3',
                        value:'16',
                      },{
                        title:'برند 4',
                        value:'17',
                      },
                    ],
                  },
                  {
                    type:'checkbox-group',
                    name: 'brand-73' ,
                    title: 'brand',
                    label: 'برند',
                    children: null,
                    parent: 'categories',
                    value:[],
                    options: [
                      {
                        title:'برند 1',
                        value:'20',
                      },{
                        title:'برند جدید 23',
                        value:'21',
                      },
                    ],
                  },
                  {
                      type:'number',
                      name: 'price-67' ,
                      title: 'price',
                      label: 'محدوده قیمت',
                      children: null,
                      parent: 'categories',
                      min:0,
                      max:1000,
                      value:[],
                      options: null,
                  },
                  {
                      type:'number',
                      name: 'price-69' ,
                      title: 'price',
                      label: 'محدوده قیمت',
                      children: null,
                      parent: 'categories',
                      min:0,
                      max:1000,
                      value:[],
                      options: null,
                  },
                  {
                      type:'number',
                      name: 'price-71' ,
                      title: 'price',
                      label: 'محدوده قیمت',
                      children: null,
                      parent: 'categories',
                      min:0,
                      max:1000,
                      value:[],
                      options: null,
                  },
                  {
                      type:'number',
                      name: 'price-73' ,
                      title: 'price',
                      label: 'محدوده قیمت',
                      children: null,
                      parent: 'categories',
                      min:0,
                      max:1000,
                      value:[],
                      options: null,
                  },
              ],
          }
      },
  computed: {

    ...mapState(useFormStore, {
      formData: 'formData',
      // you can also write a function that gets access to the store
      getFormData: (store) => store.getFormData,
      filterData: (store) => store.getFilterForm,

    }),
    hasFilter(){
        return this.getFormData.some(item=>{
          if((typeof item.value === 'boolean' && item.value) || (typeof item.value === 'string' && item.value) || typeof item.value === 'object' && item.value.length > 0 ) {
            return true
          }
        })
    }
  },


    mounted() {
      this.setReceiveForm(this.form)
      this.getDataFromQuery()
    },


      methods:{
        ...mapActions(useFormStore, [ 'onClearAll' ,"onClear" ,'setReceiveForm'  ,'setQueryToForm' , 'getDataFromQuery']),
          removeAllFilter(){
              this.onClearAll()
          },
          removeItem(obj){
            this.onClear(obj)
          },

      },

  }
</script>
