<script setup>
import Layout from "@/components/base/Layout.vue";
</script>

<template>
    <main>
            <component :is="Layout" :item="item"></component>
            <div v-if="item.props">
                <template v-for="(element , index) in item.props" :key="index">
                    <component class="mr-8"   v-if="(item.value.length > 0 && element.name === `${element.title}-${item.value}`) || item.value === true" :is="Layout" :item="element"></component>
                </template>
            </div>
    </main>
</template>
<script>
export default {
    name: 'InputSectionView',
    props: {
        item: Object
    },
    data() {
        return {}
    },
    methods: {}
}
</script>
