<template >
    <div class=" w-full h-20  rounded " dir="rtl">
        <div class="mb-2 font-bold text-1xl">
            {{option.label}}
        </div>
        <div class="h-10  w-full flex items-center" dir="rtl">
            <input  id="checkbox-1"
                   class="w-5 h-5 "
                   type="checkbox" v-model="checkbox"/>
            <label class="mr-2" @click="checkbox = !checkbox">
                {{option.label}}
            </label>
        </div>
    </div>

</template>

<script>


import {mapActions} from "pinia";
import {useFormStore} from "@/stores/form";

export default {
    name: "Input",
    props:{
        option:{
            type:Object,
        }
    },
    data(){
        return{
            checkbox:false
        }
    },
    beforeMount() {
      this.checkbox = this.option.value
    },
  methods:{
    ...mapActions(useFormStore, ['onChange' , 'onClear' , 'onClearByName']),
  },

  mounted(){

    },
    watch:{
        checkbox(v){
            if(!v){
              this.onClearByName(this.option.children)
            }
            this.onChange(this.option , v)

        }
    },


}
</script>

<style scoped>

</style>
