<template >
    <div class=" w-full h-20  rounded " dir="rtl">
        <div class="mb-2 font-bold text-1xl">
            {{option.label}}
        </div>
        <div class="h-10 border border-gray-700 rounded w-full flex items-center justify-between" dir="rtl" >

            <input @input="inputChange($event.target.value)"  :type="option.type" :placeholder="option.label" class="input h-10 w-full rounded px-4" v-model="inputVal"/>
            <div class="w-8 flex justify-center items-center" @click="clearInput" v-if="inputVal?.length > 0" >
                <svg class="svg-icon fill-red-500 cursor-pointer"
                     style="width: 1em; height: 1em;vertical-align: middle;overflow: hidden;"
                     viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M810.005333 274.005333l-237.994667 237.994667 237.994667 237.994667-60.010667 60.010667-237.994667-237.994667-237.994667 237.994667-60.010667-60.010667 237.994667-237.994667-237.994667-237.994667 60.010667-60.010667 237.994667 237.994667 237.994667-237.994667z"/>
                </svg>
            </div>
        </div>
    </div>

</template>

<script>
import {mapActions} from "pinia";
import {useFormStore} from "@/stores/form";

export default {
    name: "Input",
    props:{
        option:{
            type:Object,
        }
    },
    computed:{
        inputVal(){
            return this.option?.value;
        }
    },
    methods:{
      ...mapActions(useFormStore, ['onChange','onClear' ]),
        clearInput(){
          this.onClear(this.option)
        },
        inputChange(v){
          this.onChange(this.option , v)
        }
    }
}
</script>

<style scoped>

</style>
