<script setup>
import Input from "@/components/base/Input.vue";
import selectOption from "@/components/base/SelectOption.vue";
import Range from "@/components/base/Range.vue";
import CheckBox from "@/components/base/CheckBox.vue";

</script>

<template>

        <div class="flex flex-col">

              <div class="grid grid-cols-2 border border-gray-700 rounded px-4 py-4 my-2"  v-if="item.type === 'text'">
                <component class="col-span-1"  :is="Input"
                            :option="item"></component>
              </div>
            <div class="grid grid-cols-2 border border-gray-700 rounded px-4 py-4 my-2"  v-if="item.type === 'checkbox-group'">

                <component class="col-span-1" :is="selectOption" :option="item"></component>
            </div>
            <div class="grid grid-cols-2 border border-gray-700 rounded px-4 py-4 my-2"  v-if="item.type === 'checkbox'">
                <component class="col-span-1" :is="CheckBox" :option="item"></component>
            </div>
            <div class="grid grid-cols-2 border border-gray-700 rounded px-4 py-4 my-2"  v-if="item.type === 'dropdown'">

                <component class="col-span-1" :is="selectOption" :option="item"></component>
            </div>
            <div class="grid grid-cols-2 border border-gray-700 rounded px-4 py-4 my-2"  v-if="item.type === 'number'">

                <component class="col-span-1" :is="Range" :option="item"></component>
            </div>

        </div>

</template>
<script>
import {useFormStore} from "@/stores/form";
import {mapState ,mapActions} from 'pinia'
export default {
    name: 'Layout',
    props: {
        item: Object
    },
    data() {
        return {
            multipleTypes: [
                'dropdown',
                'checkbox'
            ],
            name: false,
            selected: null,
            checkBox: false


        }
    },
    methods: {
      ...mapActions(useFormStore, { onChange: 'onChange',onClear:'onClear' }),
        changeInput(item, value) {
            this.onChange(item , value)
        },
        clearInput(item) {
          this.onClear(item , null)
        }

    }
}
</script>
