<script setup>
import VueSimpleRangeSlider from "vue-simple-range-slider";
import "vue-simple-range-slider/css";
</script>
<template >
    <div class="w-full" dir="rtl">
        <div class="mb-2 font-bold text-1xl">
            {{option.label}}
        </div>
        <VueSimpleRangeSlider
            class="w-full"
            :min="option.min"
            :max="option.max"
            bar-color="gray"
            active-bar-color="blue"
            v-model="inputVal"

        >
            <template #prefix="{ value }"></template>
        </VueSimpleRangeSlider>
    </div>

</template>

<script>


import {mapActions} from "pinia";
import {useFormStore} from "@/stores/form";

export default {
    name: "Range",
    data(){
        return{
            inputVal:[0,1000],
          isMounted:false
        }
    },
    props:{
        option:{
            type:Object,
        }
    },
    beforeMount() {
      this.isMounted = false

    },
    mounted() {

      setTimeout( ()=>{
        this.inputVal = this.option?.value
      } , 10)

    },
  methods:{
      ...mapActions(useFormStore, ['onChange']),
    },

    watch:{
        inputVal(v){
          this.onChange(this.option , v)
        }
    }
}
</script>

<style scoped>

</style>
