<script setup>
import Tag from "@/components/base/Tag.vue";
</script>
<template >
    <div class=" w-full relative " dir="rtl">
        <div class="mb-2 font-bold text-1xl">
            {{option.label}}
        </div>
        <div class="relative w-full "  >
            <div class="h-full py-1 border border-gray-700 rounded w-full bg-white flex items-center justify-between relative  input-height" :class="[showList ? 'z-[12]' : 'z-1']"   dir="rtl" @click="showList = !showList" >
                <div class="flex items-center flex-wrap h-full gap-2 w-full px-2">
                    <template v-for="item in option.options">
                        <component v-if="option.value.includes(item.value)" :is="Tag" @click-handler="setSelect(item)">
                            <template #label>
                                {{item.title}}
                            </template>
                        </component>
                    </template>
                </div>
                <div class="w-8 flex justify-center items-center" @click="clearInput" v-if="option.type === 'checkbox-group' && option.value.length > 0" >
                    <svg class="svg-icon fill-red-500 cursor-pointer"
                         style="width: 1em; height: 1em;vertical-align: middle;overflow: hidden;"
                         viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M810.005333 274.005333l-237.994667 237.994667 237.994667 237.994667-60.010667 60.010667-237.994667-237.994667-237.994667 237.994667-60.010667-60.010667 237.994667-237.994667-237.994667-237.994667 60.010667-60.010667 237.994667 237.994667 237.994667-237.994667z"/>
                    </svg>

                </div>
              <div class="w-8 flex justify-center items-center">
                <svg class="transition-all duration-300 w-3 h-3" :class="[showList && 'rotate-180']" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 256 256" xml:space="preserve">

<defs>
</defs>
                  <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
	<path d="M 90 24.25 c 0 -0.896 -0.342 -1.792 -1.025 -2.475 c -1.366 -1.367 -3.583 -1.367 -4.949 0 L 45 60.8 L 5.975 21.775 c -1.367 -1.367 -3.583 -1.367 -4.95 0 c -1.366 1.367 -1.366 3.583 0 4.95 l 41.5 41.5 c 1.366 1.367 3.583 1.367 4.949 0 l 41.5 -41.5 C 89.658 26.042 90 25.146 90 24.25 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
</svg>
              </div>

            </div>
            <ul  class="pt-4 pb-2 px-4 bg-white w-full absolute border border-black rounded left-0 border-t-0 list" v-if="showList">
                <li class="flex h-8 my-1 cursor-pointer bg-white " v-for="(item , i) in option.options"
                    :key="(item,i)" @click="setSelect(item)">
                    <div class="w-full flex items-center justify-between rounded px-4" :class="[option.value.includes(item.value) && 'bg-gray-200']">
                        <span>
                            {{ item.title }}
                        </span>
                        <span v-if="option.value.includes(item.value)">
                           <svg class="fill-green-500" style="width: 16px; height: 16px;vertical-align: middle;overflow: hidden;" viewBox="0 0 1265 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M332.980706 943.887059l45.658353 45.658353 851.847529-851.847529-91.256471-91.256471-760.591059 760.591059-287.322353-287.322353L0 610.906353 332.980706 943.887059z"  /></svg>
                        </span>
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <div class="fixed inset-0  w-full h-full " :class="[showList ? 'z-[11]' : 'z-[9]']"  @click="showList = false" v-if="showList">

    </div>

</template>

<script>

import {mapActions} from "pinia";
import {useFormStore} from "@/stores/form";

export default {
    name: "Input",
    props:{
        option:{
            type:Object,

        }
    },
    data(){
        return{
            showList:false,
            list:[]
        }
    },

    mounted() {
        if(this.option && this.option.value){
            this.inputVal = this.option.value
        }else {
            this.inputVal = []
        }
    },

  methods:{
    ...mapActions(useFormStore, ['onChange','onClear' , 'onClearByName' ]),
    clearInput(){
      this.onClear(this.option)
    },
    setSelect(v){

              if(this.option.type !== 'checkbox-group'){
                const val = this.option.value.includes(v.value) ? '' : v.value
                this.onChange(this.option , val)
                if(this.option.children && this.option.children.length > 0){
                  this.onClearByName(this.option.children)
                }
              }else{
                this.onChange(this.option , v.value)
              }

          },
  }

}
</script>

<style scoped>
.input-height{
    min-height: 40px;
}
.list{
    z-index: 21;
}

</style>
