<template>
    <div class="rounded-l-xl rounded-r-xl px-4 h-8 flex items-center justify-between bg-gray-300">
        <div class="px-2">
            <slot name="label"></slot>
        </div>
        <div class="cursor-pointer" @click="clickHandler()">
            <svg class="svg-icon fill-red-500"
                 style="width: 1em; height: 1em;vertical-align: middle;overflow: hidden;"
                 viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M810.005333 274.005333l-237.994667 237.994667 237.994667 237.994667-60.010667 60.010667-237.994667-237.994667-237.994667 237.994667-60.010667-60.010667 237.994667-237.994667-237.994667-237.994667 60.010667-60.010667 237.994667 237.994667 237.994667-237.994667z"/>
            </svg>
        </div>
    </div>

</template>

<script>
export default {
    name: "Input",
    props: {},
    computed: {
        inputVal() {
            return this.option?.value;
        }
    },
    methods: {
        clickHandler() {
            this.$emit('clickHandler')
        },

    }
}
</script>

<style scoped>

</style>